{{ define "main" }}

{{ partial "calendar_imports.html" . }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        {{ partial "home-inpage-nav" . }}

        <div
          class="section-sm bg-gradient scroll-mt-36 relative left-1/2 w-screen max-w-[100vw] -translate-x-1/2"
          id="accueil">
          <div class="container">
            <div class="row items-center justify-between">
              {{ with .Params.image }}
                <div class="md:col-5 mb-6 md:mb-0">
                  {{ partial "image" (dict "Src" . "Context" $.Page "Alt" $.Title "Class" "rounded" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
                </div>
              {{ end }}
              <div class="{{ if .Params.image }}md:col-7 lg:col-6{{ else }}col-12{{ end }}">
                <h2 class="h3 mb-4">{{ .Title }}</h2>
                <div class="content">{{ .Content }}</div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="h3 mb-6 scroll-mt-36" id="agenda">Agenda</h2>

        <div id="calendar"></div>

        <h2 class="h3 mb-6 scroll-mt-36" id="articles">Actualités <a href="{{ "articles" | relURL }}" class="underline">(Toutes les actualités)</a></h2>

        <div class="row">
          {{ $articles := where site.RegularPages "Section" "articles" }}
          {{ range first 4 ($articles.ByDate.Reverse) }}
          <div class="md:col-6 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>

        <h2 class="h3 mb-6 scroll-mt-36" id="cantine">
          Menu de la cantine
          <a href="{{ "menus-cantine" | relURL }}" class="underline">(Tous les menus)</a>
        </h2>
        {{ with site.GetPage "menus-cantine" }}
          {{ with index .RegularPages.ByDate.Reverse 0 }}
            <h3 class="h5 mb-4">{{ partial "menus-cantine-title" . }}</h3>
            {{ partial "menus-cantine-table" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'fr',
      initialView: 'listMonth',
      headerToolbar: {
        left: 'prev,today,next',
        center: 'title',
        right: 'listMonth,dayGridMonth,timeGridWeek'
      },
      events: '{{ "articles/index.json" | relURL }}',
      eventClick: function(info) {
        if (info.event.url) {
          window.location.href = info.event.url;
          info.jsEvent.preventDefault();
        }
      }
    });
    calendar.render();
  });
</script>
{{ end }}
