{{ define "main" }}

{{ partial "calendar_imports.html" . }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        {{ partial "home-inpage-nav" . }}
        {{ if .Params.image }}
        {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto rounded mb-6" ) }}
        {{ end }}
        <h2 class="h3 mb-6 scroll-mt-36" id="mot-du-maire">Mot du maire</h2>
        <div class="content">{{ .Content }}</div>

        <h2 class="h3 mb-6 scroll-mt-36" id="agenda">Agenda</h2>

        <div id="calendar"></div>

        <h2 class="h3 mb-6 scroll-mt-36" id="articles">Actualités <a href="{{ "articles" | relURL }}" class="underline">(Toutes les actualités)</a></h2>

        <div class="row">
          {{ $articles := where site.RegularPages "Section" "articles" }}
          {{ range first 4 ($articles.ByDate.Reverse) }}
          <div class="md:col-6 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>

        <h2 class="h3 mb-6 scroll-mt-36" id="cantine">
          Menu de la cantine
          <a href="{{ "menus-cantine" | relURL }}" class="underline">(Tous les menus)</a>
        </h2>
        {{ with site.GetPage "menus-cantine" }}
          {{ with index .RegularPages.ByDate.Reverse 0 }}
            <h3 class="h5 mb-4">{{ partial "menus-cantine-title" . }}</h3>
            {{ partial "menus-cantine-table" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'fr',
      initialView: 'listMonth',
      headerToolbar: {
        left: 'prev,today,next',
        center: 'title',
        right: 'listMonth,dayGridMonth,timeGridWeek'
      },
      events: '{{ "articles/index.json" | relURL }}',
      eventClick: function(info) {
        if (info.event.url) {
          window.location.href = info.event.url;
          info.jsEvent.preventDefault();
        }
      }
    });
    calendar.render();
  });
</script>
{{ end }}
