{{ define "main" }}

{{ partial "calendar_imports.html" . }}

<section class="section-sm home-page">
  <div class="container overflow-visible">
    <div class="row justify-center overflow-visible">
      <div class="home-page__content lg:col-10 overflow-visible">
        {{ partial "home-inpage-nav" . }}

        <div
          class="section-sm bg-gradient scroll-mt-36 relative left-1/2 w-screen max-w-[100vw] -translate-x-1/2"
          id="accueil">
          <div class="container">
            <div class="row items-center justify-between">
              {{ with .Params.image }}
                <div class="md:col-5 mb-6 md:mb-0">
                  {{ partial "image" (dict "Src" . "Context" $.Page "Alt" $.Title "Class" "rounded" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
                </div>
              {{ end }}
              <div class="{{ if .Params.image }}md:col-7 lg:col-6{{ else }}col-12{{ end }}">
                <h2 class="h3 mb-4">{{ .Title }}</h2>
                <div class="content">{{ .Content }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="notice info my-8">
          <div class="notice-head">
            <svg width="20" height="22" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M10 9V14M10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10C19 14.9706 14.9706 19 10 19ZM10.0498 6V6.1L9.9502 6.1002V6H10.0498Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <p>Info</p>
          </div>
          <div class="notice-body">
            <p>
              Vous organisez un événement sur la commune de Nouzerines et vous souhaitez le faire apparaître sur cette page&nbsp;?
            </p>
            <p>
              Envoyez-nous par mail à
              <a href="mailto:{{ site.Params.mairie.email }}">{{ site.Params.mairie.email }}</a>
              les détails de votre événement (date, lieu, coordonnées, affiche…)

            </p>
          </div>
        </div>

        <h2 class="h3 mb-6 scroll-mt-36" id="agenda">Agenda</h2>

        <div id="calendar"></div>

        <h2 class="h3 mb-6 scroll-mt-36" id="articles">Actualités <a href="{{ "articles" | relURL }}" class="underline">(Toutes les actualités)</a></h2>

        <div class="row">
          {{ $articles := where site.RegularPages "Section" "articles" }}
          {{ range first 4 ($articles.ByDate.Reverse) }}
          <div class="md:col-6 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>

        <h2 class="h3 mb-6 scroll-mt-36" id="cantine">
          Menu de la cantine
        </h2>
        {{ with site.GetPage "menus-cantine" }}
          {{ with index .RegularPages.ByDate.Reverse 0 }}
            <h3 class="h5 mb-4">{{ partial "menus-cantine-title" . }}</h3>
            {{ partial "menus-cantine-table" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'fr',
      initialView: 'listMonth',
      headerToolbar: {
        left: 'prev,today,next',
        center: 'title',
        right: 'listMonth,dayGridMonth,timeGridWeek'
      },
      events: '{{ "articles/index.json" | relURL }}',
      eventClick: function(info) {
        if (info.event.url) {
          window.location.href = info.event.url;
          info.jsEvent.preventDefault();
        }
      }
    });
    calendar.render();
  });
</script>
{{ end }}
